<div class="row text-center justify-content-center mt-5">
    <div class="col-12">
        <nav aria-label="breadcrumb" class="small bc text-secondary">
            <ol>
                {{ range .Ancestors.Reverse }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </li>
                {{ end }}
                <li class="active">
                    <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </li>
            </ol>
        </nav>
    </div>
</div>